log/
http_datapool/log/
http_datapool/out/


.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/gradle.properties
http_datapool/src/main/java/ru/sbt/util/HTTPDatapool/repository/
http_datapool/src/main/resources/templates/
http_datapool/src/test/resources/
http_parameter/out/
http_parameter/src/main/resources/
http_parameter/src/test/resources/
httpapi/out/
httpapi/src/main/resources/
httpapi/src/test/resources/