/*
=== General ===
*/
.inner-wrapper{
    width: 70%;
    margin: 0 auto;
}
.inner-wrapper input.search-query{
    margin: 0 10px;
    width: 400px;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}
header{
    padding: 10px 10px 20px;
}
header img{
    float: left;
    margin-right: 30px;
}

h4{
    text-align: center;
    margin-bottom: 20px;
}

/*
=== Cache content ===
*/

.fa-check.statusIcon{
    color:green;
}

.fa-spinner.statusIcon{
}

/*
=== Fixing boostrap ===
*/
.nav > li > a:hover{
    background-color: inherit;
}

.btn:hover{
    background-position:inherit;
}
.btn-danger:hover i{
    transform: scale(1.2,1.2);
}

.tableStatus{
    text-align: center !important;
}

.clearTable{
    text-align: right !important;
}

/*
=== Tabs ===
*/
.tabs-cyan {
    background-color: #33b5e5;;
}
.classic-tabs li a.active {
    border-bottom: 3px solid #F00;
    color: #fff;
}
.classic-tabs.tabs-cyan li a.active {
    border-color: #ffeb3b;
}

.classic-tabs li a {
    display: block;
    padding: 20px 24px;
    font-size: 13px;
    color: rgba(255,255,255,.7);
    text-align: center;
    border-radius: 0;
}

.tab-content{
    padding:10px 10px;
}
/*
=== Main page ===
*/
.row > div.search-line > span{
    line-height: 35px;
}

.row > div{
    width:250px;
}

.add-block{
    padding: 15px 0;
    margin: 10px 0;
}
.search-block{
    padding: 15px 0;
    margin: 10px 0;
}

.row input{
    margin: 0;
}
.row a{
    margin: 0;
}
.narrow{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
/*
=== Old browser ===
*/
.old-browser-banner {
    padding: 0px 30px 10px;
    background-color: darkred;
    text-align: center;
    line-height: 30px;
    font-size: 21px;
    color: white;
}